* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.weather-app-container{
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

